<!DOCTYPE html>
<html lang="eng"
      xmlns:th="http://www.thymeleaf.org">
<head>

  <title>Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
          rel="stylesheet" />
  <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
  <link rel="icon"
        href="https://png.pngtree.com/png-clipart/20210307/ourmid/pngtree-alphabet-3d-letter-b-isolated-on-transparent-background-glossy-yellow-color-png-image_3015394.jpg">
  <script src="https://cdn.tailwindcss.com/3.3.0"></script>
</head>
<body>
<div
        class="block m-auto  max-w-md rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
  <form th:action="@{/blog/add}" method="post">
    <!--Name input-->
    <div class="relative mb-6" data-te-input-wrapper-init>
      <label
              for="exampleInput7"
              class="ml-3"
      >Title
      </label>
      <input
              name="title"
              type="text"
              class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear  motion-reduce:transition-none dark:text-neutral-200 "
              id="exampleInput7"
              placeholder="Title" />

    </div>

    <!--Email input-->
    <div class="relative mb-6" data-te-input-wrapper-init>
      <label
              for="exampleInput8"
              class="ml-3"
      >Topic
      </label>
      <input
              name="topic"
              type="text"
              class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear  motion-reduce:transition-none dark:text-neutral-200 "
              id="exampleInput8"
              placeholder="Topic" />

    </div>

    <!--Message textarea-->
    <div class="relative mb-6" data-te-input-wrapper-init>
      <label
              for="exampleFormControlTextarea13"
              class="ml-3"
      >Text
      </label>
      <textarea
              name="text"
              class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear  motion-reduce:transition-none dark:text-neutral-200 "
              id="exampleFormControlTextarea13"
              rows="3"
              placeholder="Text"></textarea>

    </div>


    <!--Submit button-->
    <button
            type="submit"
            class="dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]] inline-block w-full rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
            data-te-ripple-init
            data-te-ripple-color="light">
      Send
    </button>
  </form>
</div>
<script>
  tailwind.config = {
    darkMode: "class",
    theme: {
      fontFamily: {
        sans: ["Roboto", "sans-serif"],
        body: ["Roboto", "sans-serif"],
        mono: ["ui-monospace", "monospace"],
      },
    },
    corePlugins: {
      preflight: false,
    },
  };
</script>
</body>
</html>