<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/component/css/authentication.css" rel="stylesheet" th:href="@{/component/css/authentication.css}">

  <!-- jQuery CDN Link -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2? family= Roboto+Slab:wght@500 & display=swap" rel="stylesheet">
  <title>Transparent form</title>
</head>

<body>
<div class="container">
  <div class="form">
    <div class="btn">
      <button class="signUpBtn">SIGN UP</button>
      <button class="loginBtn">LOG IN</button>
    </div>
    <form class="signUp" action="" method="post" th:action="@{/register}">
      <div class="formGroup">
        <input type="text" id="firstname" name="firstname" placeholder="Firstname" autocomplete="off">
      </div>
      <div class="formGroup">
        <input type="tel" placeholder="Phone Number" name="phoneNumber" required autocomplete="off">
      </div>
      <div class="formGroup">
        <input type="text" id="username" name="username" placeholder="Username" autocomplete="off">
      </div>
      <div class="formGroup">
        <input type="password" placeholder="Password" name="password" required autocomplete="off">
      </div>
      <div class="formGroup">
        <input type="password" id="confirmPassword" placeholder="Confirm Password" required autocomplete="off">
      </div>
      <div class="formGroup">
        <button class="btn2">REGISTER</button>
      </div>

    </form>

    <form class="login" method="POST" action="login">

      <div class="formGroup">
        <input type="text" placeholder="Username" name="username" required autocomplete="off">
      </div>
      <div class="formGroup">
        <input type="password" id="password" name="password" placeholder="Password" required autocomplete="off">

      </div>
      <div class="formGroup">
        <input  class="btn2" name="submit" type="submit" value="submit"/>
      </div>
    </form>

  </div>
</div>

<script src="../static/component/js/authentication.js" th:src="@{/component/js/authentication.js}"></script>
</body>

</html>